#add-todo-wrap {
	background-color: #fefefe;
	border-bottom: 1.5px solid #e3e3e3;
}

#btn-all, #btn-add, #input-add-todo {
	height: 67px;
	border: 0 !important;
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
	vertical-align: top !important;
	outline: none !important;
}

#btn-all, #btn-add {	
	width: 50px;
}
.arrow {
    border: solid #e3e3e3;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.btn-add-active {
	color: #6f4545;
}
.btn-add-deactive {
	color: #e3e3e3;
}

#input-add-todo {
	font-size: 25px;
	width: 450px;
	color: #6f4545;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e3e3e3;
    font-style: italic;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e3e3e3;
    font-style: italic;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #e3e3e3;
    font-style: italic;
}