body {
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Arial; 
}

.title {
  color: #e9d6d7;
  font-size: 95px;
    font-weight: 100; 
  margin: 9px;
}
.bg {
  background-color: #ffffff;
  min-width: 550px;
  width: 550px; 
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
