#clear-completed {	
	display: inline-block;
	float: right;
	padding: 15px;
	width: 120px;
	text-align: right;	
}

#clear-completed button {
	color: #6e6e6e;
	font-size: 15px;
	border: 0 !important;
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
	vertical-align: top !important;
	outline: none !important;
}
#clear-completed button:hover {
	text-decoration: underline;
}