.btn-footer-active {
	color: #6e6e6e;
	border: 1px solid #edd4d5;
	border-radius: 3px;
	text-decoration: none;
	padding: 2px 5px;
	margin: 5px;
	cursor: pointer;
}
.btn-footer-deactive {
	color: #6e6e6e;
	border: 1px solid #ffffff;
	border-radius: 3px;
	text-decoration: none;
	padding: 2px 5px;
	margin: 5px;
	cursor: pointer;
}