.item {
	border-bottom: 0.5px solid #e3e3e3;
	height: 60px;
}
.item .check, .item .delete {
	width: 50px;
	height: 60px;
	color: #e3e3e3;
}
.item .check, .item .delete, .item .text {	
	border: 0 !important;
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
	outline: none !important;
	vertical-align: top !important;
}

.item .text {	
	display: inline-block;
	font-size: 25px;
	width: 450px;
	padding: 15px 0 !important;
	text-align: left;
}

.item .delete:hover {	
	color: #6f4545;
}
